{% extends "main/base.html" %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block styles %}
{{ block.super }}
<style>
    /* Container Styles */
    .container {
        text-align: center;
        padding: 100px 20px;
        z-index: 5;
        position: relative;
    }

    h1 {
        font-size: 48px;
        color: #293368;
        animation: fadeInDown 1s ease-out;
    }

    p {
        font-size: 18px;
        color: #555;
        margin-top: 20px;
        animation: fadeInUp 1s ease-out;
    }

    .button-container a {
        display: inline-block;
        padding: 10px 20px;
        margin: 20px 10px;
        font-size: 18px;
        color: white;
        background-color: #293368;
        border-radius: 30px;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.3s;
    }

    .button-container a:hover {
        background-color: #293368e3;
        transform: translateY(-5px);
    }

    /* Text Animations */
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
{% endblock styles %}

{% block nav_links %}
    <a href="{% url 'login' %}" class="nav-link">Login</a>
    <a href="{% url 'register' %}" class="nav-link">Sign Up</a>
{% endblock nav_links %}

{% block menu_links %}
    <a href="{% url 'login' %}" class="menu-link">Login</a>
    <a href="{% url 'register' %}" class="menu-link">Sign Up</a>
{% endblock menu_links %}

{% block content %}
    <div class="container">
        <h1>Welcome to Anon!</h1>
        <p>Send and receive anonymous messages with ease. Connect with others while keeping your identity private.</p>
        <div class="button-container">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Sign Up</a>
        </div>
    </div>
{% endblock content %}