{% extends "main/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block nav_links %}
<a href="{% url 'login' %}" class="nav-link">Login</a>
<a href="{% url 'register' %}" class="nav-link">Sign Up</a>
{% endblock nav_links %}

{% block menu_links %}
<a href="{% url 'login' %}" class="menu-link">Login</a>
<a href="{% url 'register' %}" class="menu-link">Sign Up</a>
{% endblock menu_links %}

{% block styles %}
{{ block.super }}
<style>
  ul.errorlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #ff0000;
  }
  ul.errorlist li {
    margin: 5px 0;
    font-size: 14px;
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    background: rgba(255, 255, 255, 0.704);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
    animation: fadeIn 0.5s ease-in;
    box-sizing: border-box;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #283e4add;
    outline: none;
  }
  
  button {
    background-color: #293368;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #293368cf;
  }
  
  span a {
    color: #293368;
    text-decoration: none;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
{% endblock styles %}

{% block content %}
<div class="container" style="text-align: center; padding: 100px 20px; z-index: 5; display: flex; align-items: center; justify-content: center; position: relative;">
    <form method="POST">
        <h2>Login</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button><br><br>
        <span>Don't have an account? <a href="{% url 'register' %}">register.</a></span>
    </form>
</div>
{% endblock content %}