{% extends "main/base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block nav_links %}
    <a href="{% url 'login' %}" class="nav-link">Login</a>
    <a href="{% url 'register' %}" class="nav-link">Sign Up</a>
{% endblock nav_links %}

{% block menu_links %}
    <a href="{% url 'login' %}" class="menu-link">Login</a>
    <a href="{% url 'register' %}" class="menu-link">Sign Up</a>
{% endblock menu_links %}

{% block styles %}
{{ block.super }}
<style>
    #form ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: #ff0000;
    }
    
    #form ul li {
        margin: 0px 0 !important;
        font-size: 14px;
    }

    .container {
        text-align: center;
        padding: 30px 10px;
        z-index: 5;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        position: relative;
    }

    h2 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }
    
    form {
        background: rgba(255, 255, 255, 0.704);
        backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        text-align: left;
        animation: fadeIn 0.5s ease-in;
        box-sizing: border-box;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        border-color: #283e4add;
        outline: none;
    }
    
    button {
        background-color: #293368;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    
    button:hover {
        background-color: #293368cf;
    }
    
    ul {
        list-style: none;
        margin-left: -40px;
    }
    
    ul li {
        color: red;
        margin: -15px 0px;
        font-size: 12px;
        position: relative;
        top: -5px;
    }
    
    span a {
        color: #293368;
        text-decoration: none;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
{% endblock styles %}

{% block content %}
<div class="container">
    <form id="form" method="POST">
        <h2>Register</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <div id="error-msg-div"></div>
        <button id="btn" type="submit">Register</button><br><br>
        <span>Already have an account? <a href="{% url 'login' %}">login.</a></span>
    </form>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
    const pswdEle = document.querySelector("#id_password1");
    const btn = document.getElementById('btn');
    const form = document.getElementById('form');

    pswdEle.addEventListener('blur', () => {
        const pswdEle = document.querySelector("#id_password1");
        validPassword(pswdEle.value);
    });

    const validPassword = (val) => {
        errorDiv = document.getElementById("error-msg-div");
        if (val && val.length < 6) {
            errorMsg = '<p style="color:red;">Password can\'t be less than 6 digits</p>';
            errorDiv.innerHTML = errorMsg;
            btn.disabled = true;
            btn.style.backgroundColor = "#293368b7";
            btn.style.cursor = "not-allowed";
        } else {
            errorDiv.innerHTML = "";
            btn.style.backgroundColor = "#293368";
            btn.disabled = false;
            btn.style.cursor = "pointer";
        }
    };
    
    btn.addEventListener('click', () => {
        validPassword();
    });
</script>
{% endblock scripts %}